<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b0b864c1844c4a35b6097154bfb7d88a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b0b864c1844c4a35b6097154bfb7d88a" ></div>
        
</body>
<script>    
    
            var map_b0b864c1844c4a35b6097154bfb7d88a = L.map(
                "map_b0b864c1844c4a35b6097154bfb7d88a",
                {
                    center: [53.701366188784476, 11.539508101477306],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1d52c0a4338b4919a4c5c477d20af541 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
    
            var tile_layer_7042cb552590465a878900e521dc7913 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/3ab8d259fdbfe47e34840d5800aee921-a42685e1fc5c38043ed8c0e3fae38395/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
    
            var tile_layer_b9e2c22a3ad6428cb5804e052b9e8400 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/f21b2a12d64e474d9d3715a88e1c8fe7-42047a364c32c1808155b61be1252332/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
    
            var tile_layer_c687773638a249b5a05a287e2817196a = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/50ab4d3fe442650268cfdb74c7cda0b3-21c740e59e35353628892a2ad088c890/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
    
            var tile_layer_78b11d06af2f43588dade55312937e79 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/a5e34ac3534cf5706d99819fffcbd913-645414f0c91b688269a0693f64ff922e/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
    
            var tile_layer_bd88d553e19048dd95bc712299721017 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/522029bc0ffd7265bfe043932cdda439-b4a5c1c82abdd7fc9e02e45755fa60ea/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
    
            var layer_control_5fce9551b06d4ce89df763bbe07a4808 = {
                base_layers : {
                    "openstreetmap" : tile_layer_1d52c0a4338b4919a4c5c477d20af541,
                },
                overlays :  {
                    "NDVI" : tile_layer_7042cb552590465a878900e521dc7913,
                    "VRESTI" : tile_layer_b9e2c22a3ad6428cb5804e052b9e8400,
                    "NDTI" : tile_layer_c687773638a249b5a05a287e2817196a,
                    "NITI" : tile_layer_78b11d06af2f43588dade55312937e79,
                    "VIS" : tile_layer_bd88d553e19048dd95bc712299721017,
                },
            };
            L.control.layers(
                layer_control_5fce9551b06d4ce89df763bbe07a4808.base_layers,
                layer_control_5fce9551b06d4ce89df763bbe07a4808.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_b0b864c1844c4a35b6097154bfb7d88a);
        
</script>