<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_37026b7231014ffab48fc66a3d0eab87 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_37026b7231014ffab48fc66a3d0eab87" ></div>
        
</body>
<script>    
    
            var map_37026b7231014ffab48fc66a3d0eab87 = L.map(
                "map_37026b7231014ffab48fc66a3d0eab87",
                {
                    center: [53.701366188784476, 11.539508101477306],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_84953279a0a34f57bfd06d072e9e55a3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
    
            var tile_layer_ecdb664f3a3a436cbcef4e0c45876b99 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/5b8a5730e2b16985fac167bd2595798b-a2569025c772c262ccdc33a04cf83428/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
    
            var tile_layer_917a267e57f44340bf975259d6be24b1 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/9f766d8b399fa9a84dafcf4415a0b907-a0baee58abad53b4a825a947f72de927/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
    
            var tile_layer_cc71065c13d04f4e9a86a8512cd12d41 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/e60083285b2f40f53104eb7221b29e22-828a7fbf73c24a7b8c15faef2eaa42a0/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
    
            var tile_layer_fe7ea1b10aa941fe86fdb51be9211fd3 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/bd9daf4087b5d5db6624cfb19fbce03f-82ad1dd01a2f54da57351a767be2e444/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
    
            var tile_layer_8b9e066e93974f5dbcd07f035b9652d1 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/400ea6eac7da9006e3fc71c8ca8f5b56-d5baf3dfb238ce1278b3386ecd3f3ebf/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
    
            var layer_control_83d56f4387a246c8ad4ecc2985d84bac = {
                base_layers : {
                    "openstreetmap" : tile_layer_84953279a0a34f57bfd06d072e9e55a3,
                },
                overlays :  {
                    "NDVI" : tile_layer_ecdb664f3a3a436cbcef4e0c45876b99,
                    "VRESTI" : tile_layer_917a267e57f44340bf975259d6be24b1,
                    "NDTI" : tile_layer_cc71065c13d04f4e9a86a8512cd12d41,
                    "NITI" : tile_layer_fe7ea1b10aa941fe86fdb51be9211fd3,
                    "VIS" : tile_layer_8b9e066e93974f5dbcd07f035b9652d1,
                },
            };
            L.control.layers(
                layer_control_83d56f4387a246c8ad4ecc2985d84bac.base_layers,
                layer_control_83d56f4387a246c8ad4ecc2985d84bac.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_37026b7231014ffab48fc66a3d0eab87);
        
</script>