<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_65f1ea0b57ae426c97b70b4026392571 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_65f1ea0b57ae426c97b70b4026392571" ></div>
        
</body>
<script>    
    
            var map_65f1ea0b57ae426c97b70b4026392571 = L.map(
                "map_65f1ea0b57ae426c97b70b4026392571",
                {
                    center: [53.701366188784476, 11.539508101477306],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_03232dd14d9541efaa8e4dd6d209cfb8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
    
            var tile_layer_3ae9839047fe4d43aae86ce033600756 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/b0671b3cdbd335b71215b42f385369f2-bac7b012553bbfbe5b604ef927073083/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
    
            var tile_layer_b3c0586fa44e4dde8dc6fa8216d29157 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/53af862216620214dcb2d7c197ea9658-360e82d5c80de36775030cade08b5e10/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
    
            var tile_layer_4e6b9d428390494bac1a038de6476e8f = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/f70043f9b26f2670baad0ec6c66d7ecf-c8a3174c8f3db4cd9827de4514b8cc82/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
    
            var tile_layer_02c9a5ec3fc14c93a64f928f8474c657 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/ac6f120ad24ece82cf7cb202988c04bb-e8c4635bab415ea164bc4babbc12577d/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
    
            var tile_layer_0ec00d7ca2a440fbac9e867d8c352eec = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/f0c477c5f159f20205fc09a61fe696c3-0f07da492e653b1bb01f8ac156d5c500/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
    
            var layer_control_ff67c75b030e4a6aa3f2693169a31a53 = {
                base_layers : {
                    "openstreetmap" : tile_layer_03232dd14d9541efaa8e4dd6d209cfb8,
                },
                overlays :  {
                    "NDVI" : tile_layer_3ae9839047fe4d43aae86ce033600756,
                    "VRESTI" : tile_layer_b3c0586fa44e4dde8dc6fa8216d29157,
                    "NDTI" : tile_layer_4e6b9d428390494bac1a038de6476e8f,
                    "NITI" : tile_layer_02c9a5ec3fc14c93a64f928f8474c657,
                    "VIS" : tile_layer_0ec00d7ca2a440fbac9e867d8c352eec,
                },
            };
            L.control.layers(
                layer_control_ff67c75b030e4a6aa3f2693169a31a53.base_layers,
                layer_control_ff67c75b030e4a6aa3f2693169a31a53.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_65f1ea0b57ae426c97b70b4026392571);
        
</script>