{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}Select an shape file(upload as a zipped folder) to upload and display {% endblock %}</h2>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}" width="400" height="400">
	</div>
{% endif %}


<form method="post" action="/uploader" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
		<p>
			<label for="latitude">Enter estimate midpoint Latitude for Shape file:</label><br>
  			<input type="text" id="latitude" name="latitude"><br>
		</p>
		<p>
			<label for="longitude">Enter estimate midpoint Longitude for Shape file:</label><br>
  			<input type="text" id="longitude" name="longitude"><br>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

{% endblock content %}